﻿<label class="item item-input item-stacked-label">
    <span class="input-label">Old Password</span>
    <input type="password" placeholder="**********" ng-model="data.oldPassword"/>
</label>
<label class="item item-input item-stacked-label">
    <span class="input-label">New Password</span>
    <input type="password" placeholder="**********" ng-model="data.newPassword"/>
</label>
<label class="item item-input item-stacked-label">
    <span class="input-label">Confirm New Password</span>
    <input type="password" placeholder="**********" ng-model="data.cNewPassword"/>
</label>
