﻿<ion-modal-view>
    <ion-modal-view>
        <ion-header-bar class="text-center">
            <p>{{story.location}}</p>
        </ion-header-bar>
        <ion-content>
            <div id="map">       
            </div>
        </ion-content>
        <ion-footer-bar>
            <a ng-click="closeMap()" class="button button-icon icon ion-android-arrow-back"></a>
        </ion-footer-bar>
    </ion-modal-view>
</ion-modal-view>