﻿<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit Private Information</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ng-click="displayNameUpdatePopup()">
                <i class="icon ion-chatbubble-working"></i>
                Change Display Name
            </a>
            <a class="item item-icon-left" ng-click="passwordUpdatePopup()" ng-show="isNormalLogin()">
                <i class="icon ion-chatbubble-working"></i>
                Change Password
            </a>
            <a class="item item-icon-left" ng-click="statusUpdatePopup()">
                <i class="icon ion-chatbubble-working"></i>
                Change Status
            </a>
            <a class="item item-icon-left"  ng-click="logout()">
                <i class="icon ion-chatbubble-working"></i>
                Logout
            </a>
        </div>
    </ion-content>
</ion-modal-view>
