﻿<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Results</h1>
        <button class="button button-clear button-primary" ng-click="hideSearchResult()">Back</button>
    </ion-header-bar>
    <ion-content class="padding">
            <div class="list card" ng-repeat="story in result.story">
                <div class="item item-avatar">
                    <img ng-src="{{story.picture}}" ng-if="story.picture !== null" />
                    <img ng-src="{{defaultProfilePicture}}" ng-if="story.picture === null" />
                    <h2>{{story.name}}</h2>
                </div>
                <div class="item item-image">
                    <img ng-click="viewStory(story.storyList[0])" ng-src="{{story.storyList[0].cover_photo}}" ng-style="{'height': '60vh'}" />
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="viewStory(story.storyList[0])">
                        <i class="icon ion-ios-flower"></i>
                        View Story
                    </a>
                    <a class="tab-item" ng-click="shareStory(story.storyList[0])">
                        <i class="icon ion-forward"></i>
                        Share Story
                    </a>
                </div>
            </div>
    </ion-content>
</ion-modal-view>