﻿<ion-view view-title="Edit Story">
    <ion-header-bar class="bar bar-subheader">
        <div class="button-bar">
            <button class="button" ng-click="importPicture()">
                <i class="icon ion-plus-circled"></i>
            </button>
            <button class="button" ng-click="takePicture()">
                <i class="icon ion-camera"></i>
            </button>
            <button class="button" ng-click="completeEdit()">
                <i class="icon ion-android-done-all"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true" has-header="true" has-subheader="true" no-footer="true">
        <ion-item class="item-thumbnail-left card">
            <img ng-src="{{story.cover_photo}}" />
            <h2>{{story.title}}</h2>
            <p>{{epochToDate(story.startTime)}} to</p>
            <p ng-show="story.endTime !==null">{{epochToDate(story.endTime)}}</p>
            <p ng-show="story.endTime === null">Not Set</p>
            <p>{{story.location}}</p>
        </ion-item>
        <ion-item>
            <h2>Add more photos to compile into story ~</h2>
        </ion-item>
        <div class="card list" ng-repeat="photo in photos">
            <div class="item">
                <h2>{{ epochToDate(photo.time) }}</h2>
            </div>
            <div class="item item-image">
                <img ng-src="{{photo.path}}" />
            </div>
            <a class="item item-icon-left assertive" ng-click="startEdit($index)" ng-if="!photo.description">
                <i class="icon ion-edit"></i> Add Description
            </a>
            <a class="item item-icon-left assertive" ng-click="startEdit($index)" ng-if="photo.description">
                <i class="icon ion-edit"></i> Edit Description
            </a>

            <div class="card" ng-show="isEditing[$index]">
                <label class="item item-input">
                    <input type="text" placeholder="Say something about the photo.." ng-if="photo.description" ng-value="photo.description" ng-model="input[$index]">
                    <input type="text" placeholder="Say something about the photo.." ng-if="!photo.description" ng-model="input[$index]">
                </label>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="updatePhotoDescription(photo.id, input[$index], $index)">
                        <i class="icon ion-ios-checkmark"></i> Done
                    </a>
                    <a class="tab-item" ng-click="cancelEdit($index)">
                        <i class="icon ion-ios-close"></i> Cancel
                    </a>
                </div>
            </div>

            <ion-item class="text-wrap" ng-show="!isEditing[$index]">
                <span ng-if="photo.description">{{photo.description}}</span>
                <span ng-if="!photo.description">Say something about the photo</span>
            </ion-item>

            <a class="item item-icon-left assertive" ng-click="removePhoto(photo.id,photo.path)">
                <i class="icon ion-trash-a"></i> Remove This Photo
            </a>
        </div>
    </ion-content>
</ion-view>