﻿<ion-view view-title="Welcome">
  <ion-content>
    <div ng-switch on="operation">
      <div ng-switch-when="Sign In">
        <div class="card">
          <form name="loginForm" class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" validate-email name="login.email" placeholder="Email" ng-model="login.email" required>
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="login.password">
            </label>
          </form>
        </div>
        <button class="button button-block button-calm" ng-click="login.login(login.email,login.password)">
            Sign In
        </button>
        <button class="button button-block button-positive" ng-click="login.facebookLogin()">
            Facebook Login
        </button>
        <button class="button button-block button-assertive" ng-click="login.googleLogin()">
            Google+ Login
        </button>
      </div>
      <div ng-switch-default>
        <div class="card">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Display Name</span>
            <input type="text" placeholder="example" ng-model="register.username">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="example@gmail.com" ng-model="register.email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="**********" ng-model="register.password">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm Password</span>
            <input type="password" placeholder="**********" ng-model="register.confirmPassword">
          </label>
        </div>
        <button class="button button-block button-positive" ng-click="register.register(register.email,register.username,register.password,register.confirmPassword)">
            Sign Up
        </button>
      </div>
    </div>
    <ion-checkbox ng-model="operation" ng-true-value="'Sign In'" ng-false-value="'Sign Up'">I already have an account!</ion-checkbox>
  </ion-content>
</ion-view>