﻿<ion-view hide-nav-bar="true">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" active-slide="activeSlide" auto-play="true" slide-interval="3000">
        <ion-slide class="background-story-cover">
            <div class="box" has-header="true">
                <div class="item item-image">
                    <img class="story-cover" ng-src="{{story.cover_photo}}">
                    <div class="title-story-cover text-center">
                        <h3>{{story.title}}</h3>
                        <p>{{story.location}}</p>
                        <p>{{epochToDate(story.startTime).date}}</p>
                        <p>{{epochToDate(story.startTime).time}}</p>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide ng-repeat="photo in photos" class="custom-slide-box">
            <randomly-rotated-image-card ng-image="{{photo.path}}" ng-location="{{photo.location}}" ng-date="{{epochToDate(photo.time).date}}"
                                         ng-time="{{epochToDate(photo.time).time}}" ng-description="{{photo.description}}">
            </randomly-rotated-image-card>
        </ion-slide>
        <ion-slide class="background-story-cover">
            <div class="box item-image">
                <img class="story-cover" ng-src="{{story.cover_photo}}">
                <div class="title-story-cover text-center">
                    <h3>{{story.title}}</h3>
                    <p>THE END</p>
                    <p>{{epochToDate(story.endTime).date}}</p>
                    <p>{{epochToDate(story.endTime).time}}</p>
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
    <button class="button button-float float-right button-icon ion-map" ng-click="displayLocation()"></button>
    <button class="button button-float float-left button-icon ion-close" ng-click="goBack()"></button>
</ion-view>
