﻿<ion-view view-title="Create Story">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-send" ng-click="createStory(input)"></button>
  </ion-nav-buttons>
  <ion-content>
        <div class="card">
            <div class="item item-divider item-icon-right">
                Cover Photo
                <i class="icon ion-camera" ng-click="selectAction()"></i>
            </div>
            <div class="item item-image" ng-show="input.pictureUrl.length > 0">
                <img ng-src="{{input.pictureUrl}}" />
            </div>
        </div>
      <div class="card">
          <div class="item item-divider item-icon-right">
              Story title
              <i class="icon ion-ios-compose" ng-click="editTitle()"></i>
          </div>
          <div class="item item-text-wrap" ng-show="input.storyTitle.length > 0" ng-click="editTitle()">{{input.storyTitle}}</div>
      </div>
    <div class="card">
      <div class="item item-divider item-icon-right">
        Story's Location
          <i class="icon ion-location" ng-click="editLocation()"></i>
      </div>
      <div class="item item-text-wrap" ng-show="input.storyLocation.length > 0" ng-click="editLocation()">{{input.storyLocation}}</div>
    </div>
    <div class="card">
      <div class="item item-divider item-icon-right">
        Story's Date
       <ionic-datepicker idate="currentDate" disablepreviousdates="false"  disablefuturedates="false" callback="setDate">
            <i class="icon ion-calendar"></i>
       </ionic-datepicker>
       </div>
      <div class="item item-text-wrap" ng-show="input.date.length > 0">   {{ input.date }}    </div>
    </div>
    <div class="card">
      <div class="item item-divider item-icon-right">
        Story's Time  
       <ionic-timepicker etime="0" format="12" step="1" callback="setTime">    
            <i class="icon ion-clock"></i>
        </ionic-timepicker>
       </div>
      <div class="item item-text-wrap" ng-show="input.time.length > 0">  {{ input.time }}   </div>
    </div>
  </ion-content>
</ion-view>