﻿<ion-view view-title="My Discovery">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" ng-click="displaySearchBar()"></button>
    </ion-nav-buttons>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search Location" ng-model="searchTerm">
        </label>
        <button class="button button-clear" ng-click="search()">
            Search
        </button>
    </div>
    <ion-content class="padding" ng-click="isSearching ? hideSearchBar() : null">
        <div ng-repeat="friend in friendStory">
            <div class="list card" ng-repeat="story in friend.storyList">
                <div class="item item-avatar" >
                    <img ng-src="{{friend.picture}}" ng-if="friend.picture !== null"/>
                    <img ng-src="{{defaultProfilePicture}}" ng-if="friend.picture === null" />
                    <h2>{{friend.name}}</h2>
                    <p>{{story.title}}</p>
                </div>
                <div class="item item-image">
                    <img ng-click="viewStory(story)" ng-src="{{story.cover_photo}}" ng-style="{'height': '55vh'}" />
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="viewStory(story)">
                        <i class="icon ion-ios-flower"></i>
                        View Story
                    </a>
                    <a class="tab-item" ng-click="shareStory(story)">
                        <i class="icon ion-forward"></i>
                        Share Story
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
