﻿<ion-view view-title="{{friendInfo.name}}">
    <ion-content>
        <div class="card text-center" style="top:75px;width: 342px;">
            <div class="item item-text-wrap">
                <img ng-src="{{ friendInfo.picture }}" class="profile-picture-frame" ng-if="friendInfo.picture !== null"/>
                <img ng-src="{{ defaultProfilePicture}}" class="profile-picture-frame" ng-if="friendInfo.picture === null"/> 
            </div>
            <div class="item item-divider">
                {{ friendInfo.name }}
            </div>
            <div class="item item-text-wrap">
                {{friendInfo.about}}
            </div>
            <div class="item item-text-wrap text-center" ng-switch on="friendInfo.status">
                <button class="button button-block button-calm" ng-switch-default ng-click="friendOperation('add')"> Add as Friend </button> 
                <button class="button button-block button-calm" ng-switch-when="sent" ng-click="friendOperation('delete')"> Cancel Request </button>   
                <button class="button button-block button-calm" ng-switch-when="friend" ng-click="friendOperation('delete')"> Unfriend </button>  
                <button class="button button-block button-calm" ng-switch-when="request" ng-click="friendOperation('update')"> Accept Request </button>  
                <button class="button button-block button-calm" ng-switch-when="request" ng-click="friendOperation('delete')"> Reject Request </button>  
            </div>             
        </div>           
    </ion-content>
</ion-view>