﻿<ion-view view-title="My Story">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-compose" ng-click="createStory()"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" padding="false" scroll="false" no-footer="true">
        <div class="button-bar">
            <a class="button button-small button-dark button-outline" ng-click="displayComplete()">Completed Story</a>
            <a class="button button-small button-dark button-outline" ng-click="displayEdit()">Editing Story</a>
        </div>
        <ion-slide-box show-pager="false">
            <ion-slide ng-repeat="story in getList()">
                <div class="card" has-bouncing="true" style="height: 90vh" padding="false">
                    <div class="item">
                        <h2>{{story.title}}</h2>
                    </div>
                    <div class="item item-image">
                        <img ng-click="story.endTime === null ? editStory(story) : viewStory(story)" ng-src="{{story.cover_photo}}" ng-style="{'height': '55vh'}" />
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" ng-click="story.endTime === null ? editStory(story) : viewStory(story)">
                            <i class="icon ion-ios-flower"></i>
                            <span ng-if="story.endTime !== null">View this Story</span>
                            <span ng-if="story.endTime === null">Edit this Story</span>
                        </a>
                        <a class="tab-item" ng-click="shareStory(story)">
                            <i class="icon ion-forward"></i>
                            Share Story
                        </a>
                        <a class="tab-item" ng-click="deleteStory(story.id, $index)">
                            <i class="icon ion-trash-a"></i>
                            Delete Story
                        </a>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
