﻿<ion-view view-title="My Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-edit" ng-click="showModal()"></button>
    </ion-nav-buttons>
    <ion-pane has-header="true" has-subheader="true" no-footer="true">
        <ion-tabs class="tabs-dark tabs-icon-only tabs-top">
            <!--Personal Info Tab-->
            <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
                <div class="list">
                    <a class="item item-thumbnail-left" style="position: relative;top: 16vh;">
                        <img ng-src="{{ userInfo.profile_picture }}" ng-click="showUploadOption()" ng-if="userInfo.profile_picture !== null">
                        <img ng-src="{{defaultProfilePicture}}" ng-click="showUploadOption()" ng-if="userInfo.profile_picture === null">
                        <h2>{{ userInfo.name }}</h2>
                        <div ng-switch on="userInfo.about || 'null'">
                            <p ng-switch-when="null">Write something about yourself !</p>
                            <p ng-switch-default>{{userInfo.about}}</p>
                        </div>
                    </a>
                    <ion-content>
                        <div class="row" ng-repeat="story in storyList" ng-if="$index % 4 === 0">
                            <div class="col col-25" ng-if="$index < storyList.length" ng-click="viewStory(storyList[$index])">
                                <img ng-src="{{storyList[$index].cover_photo}}" class="thumbnail" />
                            </div>
                            <div class="col col-25" ng-if="$index + 1 < storyList.length" ng-click="viewStory(storyList[$index + 1])">
                                <img ng-src="{{storyList[$index + 1].cover_photo}}" class="thumbnail" />
                            </div>
                            <div class="col col-25" ng-if="$index + 2 < storyList.length" ng-click="viewStory(storyList[$index + 2])">
                                <img ng-src="{{storyList[$index + 2].cover_photo}}" class="thumbnail" />
                            </div>
                            <div class="col col-25" ng-if="$index + 3 < storyList.length" ng-click="viewStory(storyList[$index + 3])">
                                <img ng-src="{{storyList[$index + 3].cover_photo}}" class="thumbnail" />
                            </div>
                        </div>
                    </ion-content>
                </div>
            </ion-tab>

            <!--Friend List-->
            <ion-tab title="Friends " icon-on="ion-ios-people " icon-off="ion-ios-people">
                <ion-content style="top:16vh">
                    <ion-list>
                        <div class="item item-divider item-icon-right">
                            Friend List
                            <i class="icon ion-chevron-left"></i>
                        </div>
                        <ion-item class="item item-thumbnail-left item-button-right " style="padding-right: 0 !important " ng-repeat="friend in friendList " ng-if="friendList.length> 0" ng-click="viewDetail(friend)">
                            <img ng-src="{{friend.picture}}" ng-if="friend.picture !== null"/>
                            <img ng-src="{{defaultProfilePicture}}" ng-if="friend.picture === null">
                            <h2>{{friend.name}}</h2>
                            <p>{{friend.about}}</p>
                            <ion-option-button class="button button-positive" ng-click="friendOperation(friend.id,'delete');$event.stopPropagation();">
                                Delete
                            </ion-option-button>
                        </ion-item>
                        <ion-item ng-if="friendList.length < 1">
                            <h2>You hadn't add any friend yet !</h2>
                        </ion-item>
                        <div class="text-center padding-top">
                            <button class="button button-light" ng-click="inviteFriend();">Invite Friend</button>
                        </div>
                        <!--Div to serve as extra spaces to allow further scrolling-->
                        <div style="height:30vh"></div>
                    </ion-list>
                </ion-content>
            </ion-tab>

            <!--Add/Remove/Suggest Friend-->
            <ion-tab title="Add/Accept" icon-on="ion-person-add" icon-off="ion-person-add">
                <ion-content style="top:16vh">
                    <ion-list>
                        <!--Friend Request Category-->
                        <div class="item item-divider item-icon-right">
                            Friend Request
                            <i class="icon ion-chevron-left"></i>
                        </div>
                        <ion-item class="item item-thumbnail-left item-button-right" style="padding-right: 0 !important" ng-repeat="friend in requestList" ng-if="requestList.length > 0" ng-click="viewDetail(friend)">
                            <img ng-src="{{friend.picture}}" ng-if="friend.picture !== null" />
                            <img ng-src="{{defaultProfilePicture}}" ng-if="friend.picture === null">
                            <h2>{{friend.name}}</h2>
                            <p>{{friend.about}}</p>
                            <ion-option-button class="button button-positive" ng-click="friendOperation(friend.id,'update');$event.stopPropagation();">
                                Accept
                            </ion-option-button>
                            <ion-option-button class="button button-assertive" ng-click="friendOperation(friend.id,'delete');$event.stopPropagation();">
                                Reject
                            </ion-option-button>
                        </ion-item>
                        <ion-item ng-if="requestList.length < 1">
                            <h2>No friend request !</h2>
                        </ion-item>

                        <!--Sent Friend Request Category-->
                        <div class="item item-divider item-icon-right">
                            Waiting For Approval
                            <i class="icon ion-chevron-left"></i>
                        </div>
                        <ion-item class="item item-thumbnail-left item-button-right" style="padding-right: 0 !important" ng-repeat="friend in addedList" ng-if="addedList.length > 0" ng-click="viewDetail(friend)">
                            <img ng-src="{{friend.picture}}" ng-if="friend.picture !== null" />
                            <img ng-src="{{defaultProfilePicture}}" ng-if="friend.picture === null">
                            <h2>{{friend.name}}</h2>
                            <p>{{friend.about}}</p>
                            <ion-option-button class="button button-positive" ng-click="friendOperation(friend.id,'delete');$event.stopPropagation();">
                                Cancel
                            </ion-option-button>
                        </ion-item>
                        <ion-item ng-if="addedList.length < 1">
                            <h2>You hadn't sent any request !</h2>
                        </ion-item>

                        <!--Suggested Friend Category-->
                        <div class="item item-divider item-icon-right">
                            SuggestedFriend
                            <i class="icon ion-chevron-left"></i>
                        </div>
                        <ion-item class="item item-thumbnail-left item-button-right" style="padding-right: 0 !important" ng-repeat="friend in suggestedList" ng-click="viewDetail(friend)">
                            <img ng-src="{{friend.picture}}" ng-if="friend.picture !== null" />
                            <img ng-src="{{defaultProfilePicture}}" ng-if="friend.picture === null">
                            <h2>{{friend.name}}</h2>
                            <p>{{friend.about}}</p>
                            <ion-option-button class="button button-positive" ng-click="friendOperation(friend.id,'add');$event.stopPropagation();suggestedList.splice($index,1);">
                                Add
                            </ion-option-button>
                        </ion-item>
                        <ion-item ng-if="suggestedList.length < 1">
                            <h2>No Suggested Friend !</h2>
                        </ion-item>
                        <div class="text-center padding-top">
                            <button class="button button-light" ng-click="refreshList();">Refresh List</button>
                        </div>
                        <!--Div to serve as extra spaces to allow further scrolling-->
                        <div style="height:30vh"></div>
                    </ion-list>
                </ion-content>
            </ion-tab>
        </ion-tabs>
    </ion-pane>
</ion-view>