<ion-view>
    <ion-tabs class="tabs-icon-top tabs-stable slide-left-right">
        <ion-tab title="Discover" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tabs/discover">
            <ion-nav-view name="tabs-discover"></ion-nav-view>
        </ion-tab>

        <ion-tab title="My Story" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tabs/mystory">
            <ion-nav-view name="tabs-mystory"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Profile" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tabs/profile">
            <ion-nav-view name="tabs-profile"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
