.thumbnail {
    height: 13vh;
    width: 13vh;
    top: 16vh;
    position: relative;
}

background-story-cover {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(79%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1)));
    height: 100vh;
}

.title-story-cover {
    position: relative;
    top: -100vh;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 23vh 0vh 49vh 0vh;
}

.story-cover {
    min-height: 80vh;
    height: 100vh;
    width: 100vh;
}

.title-story-cover h3 {
    position: relative;
    font-size: 7vh;
    font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
    -webkit-text-stroke: 1px white;
}

.title-story-cover p {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 6vh;
    font-family: serif;
}

.custom-slide-box {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(79%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1)));
    height: 100vh;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.button-float {
    background: #0094ff;
    color: white !important;
    z-index: 12 !important;
    width: 50px;
    height: 30px;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

    .button-float:hover {
        -webkit-transform: translate3d(0, -1px, 0) !important;
        transform: translate3d(0, -1px, 0) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
        background: #00ffff !important;
    }

.float-left {
    background-color: darkred !important;
    position: absolute !important;
    bottom: 4vh !important;
    left: 7vh !important;
}

.float-right {
    position: absolute !important;
    bottom: 4vh !important;
    right: 7vh !important;
}

.profile-picture-frame {
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

.color_blue {
    color: #387ef5 !important;
}

.bg_color_blue {
    background-color: #387ef5;
}

.date_col:hover {
    background-color: rgba(56,126,245,.5);
    cursor: pointer;
}

.date_col:active {
    background-color: rgba(56,126,245,1);
    cursor: pointer;
}

.no_padding {
    padding: 0;
}

.date_cell {
    padding: 5px;
}

.error_msg {
    color: #c00 !important;
    font-size: 12px;
}

.date_selected {
    background-color: rgba(56,126,245,1) !important;
}

.today {
    background-color: rgba(186,186,186,1);
}

.pointer_events_none {
    pointer-events: none !important;
    color: #AAA;
}

.select_section {
    padding: 0;
}

    .select_section label {
        padding: 12px;
    }

    .select_section select {
        font-size: 12px;
        font-weight: 700;
        padding: 3px;
        direction: ltr;
        left: 0;
        width: 100%;
        max-width: 100%;
    }

    .select_section .item-select:after {
        right: 4px;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

.timePickerColon {
    padding-top: 38px;
    text-align: center;
}

.timePickerArrows {
    padding-left: 15px;
}

.timePickerBoxText {
    text-align: center;
    border: 1px solid #ddd !important;
}

.bar.bar-stable, .tabs {
    box-shadow: 0 0 5px #555;
}

.overflowShow {
    white-space: normal !important;
}

.item.item-trns {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
