.jr-crop {
    background-color: #000;
    overflow: hidden;
}

.jr-crop-center-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.jr-crop-img {
    width: 250px;
    height: 200px;
    opacity: 0.6;
}

.bar.jr-crop-footer {
    border: none;
    background-color: transparent;
    background-image: none;
}
